<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<!-- Rabbit Start-->
		<!-- Not QueName ve Routink Key value alanı Aynı olmak zorunda-->
		<add key="queuName" value="screenShot" />
		<add key="routinkKey" value="screenShot" />

		<add key="host" value="localhost" />
		<add key="Durable" value="false" />
		<add key="Exclusive" value="false" />
		<add key="AutoDelete" value="false" />
		<!-- Rabbit End-->

		<!--Job Setting Start-->
		<add key="JobIntervalGetRabbit" value="1000"/>
		<add key="AutoResetGetRabbit" value="true"/>
		<!--Job Setting End-->
	</appSettings>
</configuration>